<div class="wrapper">
    <h1>Management System Control</h1>
    <div class="cols">
        <div class="col" >
            <div class="container" >
                <div class="front" style="background-color: #FE9F6C">
                    <div class="inner">
                        <a href="/books/manage">Book Management</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="front" style="background-color: #02B0C0">
                    <div class="inner">
                        <a href="/loans">Loan Management</a>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="col" >
            <div class="container">
                <div class="front" style="background-color: #38838A">
                    <div class="inner">
                     <a href="/loans">Marks Management</a>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col" >
            <div class="container">
                <div class="front"  style="background-color: #FAE699">
                    <div class="inner">
                    <a href="/loans">Marks Management</a>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="col" >
            <div class="container">
                <div class="front"  style="background-color: #F77281">
                    <div class="inner">
                     <a href="/loans">Marks Management</a>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col" >
            <div class="container">
                <div class="front"  style="background-color: #B4B7FA">
                    <div class="inner">
                    <a href="/loans">Marks Management</a>

                    </div>
                </div>
              
            </div>
        </div>

        <div class="col" >
            <div class="container">
                <div class="front"  style="background-color: #0EADB0">
                    <div class="inner">
                     <a href="/loans">Marks Management</a>

                    </div>
                </div>
               
            </div>
        </div>  <div class="col" >
            <div class="container" >
                <div class="front" style="background-color: #0EB072">
                    <div class="inner">
                      <a href="/loans">Marks Management</a>

                    </div>
                </div>
               
            </div>
        </div>